
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --card: 15 10% 20%;
    --card-foreground: 0 0% 95%;
    --popover: 15 10% 20%;
    --popover-foreground: 0 0% 95%;
    --primary: 330 100% 70%;
    --primary-foreground: 0 0% 10%;
    --secondary: 75 100% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 90%;
    --accent: 180 100% 70%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 100% 70%;
    --destructive-foreground: 0 0% 10%;
    --border: 0 0% 30%;
    --input: 0 0% 15%;
    --ring: 330 100% 70%;
    --chart-1: 330 100% 70%;
    --chart-2: 75 100% 70%;
    --chart-3: 180 100% 70%;
    --chart-4: 240 100% 70%;
    --chart-5: 270 100% 70%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
